
.marginauto {
    margin: 20px auto 40px;
    display: block;
	width: 200px;
	height:200px;
}

.marginauto:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

/*body {
 background-image: url("Background-Picture-Html.jpg");
 color: white;
}*/